#display-image{
  width: 0;
  height: 0;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    visibility: hidden;
  }

  span{
    font-size: 12px;
  }